.title-wrapper {
    padding: 5em 15px 15px 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50%;
    max-width: 75vw;

}


.title {
    font-size: 5.6em;
    font-weight: 700;
    margin-bottom: 3.2rem;
    line-height: 1.2;
    padding: 15px 15px 15px 15px;
    margin-left: .3em;
    margin-right: auto;
}

.subtitle {
    padding: 3em 1px 15px 0;
    font-size: 0.5em;
    font-weight: normal;
}

.picofme {
    max-width: 25rem;
    margin-right: .3em;
    padding-right: 15px;

}

.picofme img {
    max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .title-wrapper {
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    .title {
        text-align: center;
    }
    .picofme {
        margin-right: 0;
        padding-right: 0;
    }
  }

