.about-line {
    width: 20%;
    display: inline-block;
}

.tech-and-dev {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 20em;
    margin-left: 1em;
}

.head-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5.6em;
    font-weight: 700;
}

.paragraph-wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}