.main-navbar {
    background-color: white;
    padding: 2rem 2rem 2rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.insidenavbar {
    flex: 0 0 100%;
    padding: 10em;
    
}
.insidenavbar .bg-light {
    background-color: white;
    
}

.logo {
    margin-right: 2rem;
}

.githubicon {
    width: 40px;
    margin-right: 10px;

}

.emailicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}

.linkedinicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;

}