.main-navbar {
    background-color: #f8f9fa;
    padding: 2rem 2rem 2rem 2rem;
}

.insidenavbar {
    flex: 0 0 100%;
    padding: 10em;
    
}

.logo {
    margin-right: 2rem;
}

.githubicon {
    width: 40px;

}